<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div *ngFor="let year of years; index as i">
      <a
        class="boton mx-3"
        (click)="filtrarYear(i)"
        [class.selected]="i === selectedIndex"
        >{{ year }}</a
      >
    </div>
  </div>
  <div class="card-body row d-flex text-center mt-4">
    <div
      *ngFor="let month of months; index as i"
      class="col-lg-2 col-md-4 col-sm-6 col-6 py-2 d-flex justify-content-center"
    >
      <a
        class="boton-month"
        (click)="filtrarMonth(i)"
        [class.selectedMonth]="i === selectedMonthIndex"
        >{{ month }}</a
      >
    </div>
  </div>
  <div class="d-flex justify-content-evenly flex-wrap mt-5" *ngIf="verDetalle">
    <div>
      <h2>Ingresos</h2>
      <div class="d-flex">
        <div class="mx-3">
          <span>{{
            ingresosEgresosTotal.resultado.ingresosTotal
              | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
    <div>
      <h2>Egresos</h2>
      <div class="d-flex">
        <div class="mx-3">
          <span>{{
            ingresosEgresosTotal.resultado.egresosTotal
              | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
    <div>
      <h2
        *ngIf="
          ingresosEgresosTotal.resultado.ingresosTotal -
            ingresosEgresosTotal.resultado.egresosTotal >
          0
        "
      >
        A favor
      </h2>
      <h2
        *ngIf="
          ingresosEgresosTotal.resultado.ingresosTotal -
            ingresosEgresosTotal.resultado.egresosTotal <
          0
        "
      >
        En contra
      </h2>
      <div class="d-flex">
        <div class="mx-3">
          <span>{{
            ingresosEgresosTotal.resultado.ingresosTotal -
              ingresosEgresosTotal.resultado.egresosTotal
              | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <canvas id="MyChart">{{ chart }}</canvas>
  </div>
</div>

<!-- <div class="d-flex justify-content-between mt-4">
    <div>
      <h2>Ingresos</h2>
      <div
        *ngFor="let ingresos of ingresosEgresosTotal.resultado.ingresos"
        class="d-flex"
      >
        <div>
          <span>{{ ingresos.nombre_ingreso }}</span>
        </div>
        <div class="mx-3">
          <span>{{
            ingresos.cantidad | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
    <div>
      <h2>Egresos</h2>
      <div
        *ngFor="let egresos of ingresosEgresosTotal.resultado.egresos"
        class="d-flex"
      >
        <div>
          <span>{{ egresos.nombre_egresos }}</span>
        </div>
        <div class="mx-3">
          <span>{{
            egresos.cantidad | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
    <div>
      <h2>Ingresos Totales</h2>
      <div class="d-flex">
        <div>
          <span>TOTAL:</span>
        </div>
        <div class="mx-3">
          <span>{{
            ingresosEgresosTotal.resultado.ingresosTotal
              | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
      <h2 class="mt-2">Egresos Totales</h2>
      <div class="d-flex">
        <div>
          <span>TOTAL:</span>
        </div>
        <div class="mx-3">
          <span>{{
            ingresosEgresosTotal.resultado.egresosTotal
              | currency : "USD" : "symbol" : "1.0-2"
          }}</span>
        </div>
      </div>
    </div>
  </div> -->
