.background_nav{
  background-color: #FDE2E4;
}

.btn-color {
  background-color: white;
  color: #8EECF5;
  border-color: #8EECF5;

  transition: background-color 0.3s;
}

btn-color:hover {
  background-color: #8EECF5;
  /* Color de fondo al pasar el mouse sobre el botón */
}

.active {
  background-color: #8EECF5;
  color: white;
}
