.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
  display: none;
}

.content-select {
  max-width: 250px;
  width: 250px;
  position: relative;
}
.cont-date{
  display: flex;
  justify-content: center;
}

@media (max-width: 468px) {
  .cont-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

.content-select select {
  display: inline-block;
  width: 70%;
  cursor: pointer;
  padding: 3px 6px;
  height: 35px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #FDE2E4;
  color: #7b7b7b;
  font-size: 1em;
  color: #999;
  border: 2px solid #FFCFD2;
  border-radius: 10px;
  position: relative;
  transition: all 0.25s ease;
}

.content-select select:hover {
  background: #FFF1E6;
}

.content-select i {
  position: absolute;
  right: 100px;
  top: calc(55% - 13px);
  width: 13px;
  height: 13px;
  display: block;
  border-left: 4px solid #CFBAF0;
  border-bottom: 4px solid #CFBAF0;
  transform: rotate(-45deg);
  /* Giramos el cuadrado */
  transition: all 0.25s ease;
}

.content-select:hover i {
  margin-top: 3px;
}


.vinetas li {
  list-style-type: none;
  /* Remove default list-style */
  background-image: url('../../../assets/images/patas.png');
  background-repeat: no-repeat;
  background-position: 0 center;
  /* Align bullet at the vertical center */
  background-size: 15px 13px;
  /* Adjust the size of your image */
  padding-left: 22px;
  /* Add enough padding to accommodate the bullet image */
  /* Align the text in the middle of the line height */
  vertical-align: middle;
  /* Set a line-height to ensure proper vertical centering of the text */
  line-height: 40px;
  /* Adjust line-height as needed */
  font-size: 0.85rem;
}
ul{
  margin-bottom: 0rem;
}

.cont-card{
  border: 1px solid #FFCFD2;
  background-color: #FFF1E6;
  border-radius: 15px;
}

.btn-eliminar{
  background-color: #FFCFD2;
  color: white;
}

:host ::ng-deep .p-carousel .p-carousel-indicators {
  display: none !important;
}
:host ::ng-deep .p-carousel-items-container {
  align-items: center;
}

.cont-gastos{
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .cont-images {
    flex-direction: column;
  }
  .img-gasto {
    width: 150px;
  }
  .cont-gastos{
    align-items: center;
  }
}

@media (max-width: 480px) {
  .cont-gastos {
    flex-direction: column;
  }

  .cont-images {
    flex-direction: column;
  }

  .img-gasto {
    margin-top: 15px;
    width: 100px;
  }

  .cont-totales {
    flex-direction: column;
  }
  .ingreso-total {
    margin-top: 10px;
  }

  .egreso-total {
    margin-top: 10px;
  }
}

.img-gasto{
  width: 230px;
}
.cont-images{
  display: flex;
  align-items: center;
}
.cont-totales{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ingreso-total{
  background-color: #B9FBC0;
}
.egreso-total{
 background-color: #FFCFD2;
}

.ingreso-total p {
  margin: 0;
  text-align: center;
}

.egreso-total p{
  margin: 0;
  text-align: center;
}

.bg-total{
  border-radius: 15px;
  padding: 15px;
}

.input{
  width: 90%;
  border: none;
  background-color: #FFF1E6;
  border: 1px solid #FFCFD2;
  color: #CFBAF0;
  font-weight: 600;
}

.input::placeholder{
  color: #CFBAF0;
  font-weight: 400;
}

.icon-form{
  width: 30px;
  transition: all 0.1s ease-in-out;
}

.cont-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-insertar{
  border: none;
  padding: 5px;
}

/* Cambia el tamaño cuando se presiona el botón */
.icon-form:active {
  opacity: 0.7;
  /* Ancho aumentado */
}

.btn-aumentar img{
  width: 40px;
}
