<div class="container mt-4">
  <div class="cont-date my-3">
    <div>
      <h5>Año</h5>
      <div class="content-select">
        <select
          name="monthSelect"
          [(ngModel)]="yearSeleccionado"
          (change)="onYearChange(yearSeleccionado)"
        >
          <option [value]="item" *ngFor="let item of years; index as i">
            {{ item }}
          </option>
        </select>
        <i></i>
      </div>
    </div>
    <div>
      <h5>Mes</h5>
      <div class="content-select">
        <select
          name="yearSelect"
          [(ngModel)]="mesSeleccionado"
          (change)="onMonthChange(mesSeleccionado)"
        >
          <option [value]="i + 1" *ngFor="let item of months; index as i">
            {{ item }}
          </option>
        </select>
        <i></i>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>CATEGORIAS FAVORITAS</h4>
    <div class="col-lg-6 col-sm-12 my-1">
      <h5 style="text-align: right; color: #a3c4f3">Ingresos</h5>
      <div class="cont-card">
        <p-carousel
          [value]="categoria_ingresos"
          [numVisible]="2"
          [numScroll]="2"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div
              class="border-1 surface-border border-round m-2 text-center px-3"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <button class="btn">{{ car.nombre }}</button>
              <button
                class="btn btn-eliminar"
                (click)="elimnarCategoria(car.nombre, 'ingresos')"
              >
                <img src="../../../assets/images/trash.svg" alt="" width="30" />
              </button>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 my-1">
      <h5 style="text-align: right; color: #a3c4f3">Egresos</h5>
      <div class="cont-card">
        <p-carousel
          [value]="categoria_egresos"
          [numVisible]="2"
          [numScroll]="2"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div
              class="border-1 surface-border border-round m-2 text-center px-3"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <button class="btn">{{ car.nombre }}</button>
              <button
                class="btn btn-eliminar"
                (click)="elimnarCategoria(car.nombre, 'ingresos')"
              >
                <img src="../../../assets/images/trash.svg" alt="" width="30" />
              </button>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="mt-3 row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
        <h3 *ngIf="ingresosDetalle.length != 0">Ingresos</h3>
        <span *ngIf="ingresosDetalle.length == 0">
          No tiene ingresos en esta fecha.</span
        >
        <ul
          *ngFor="let ingreso of ingresosDetalle"
          class="vinetas"
          style="padding-left: 10px"
        >
          <li>{{ ingreso.nombre_ingreso }} {{ ingreso.cantidad }}</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
        <h3 *ngIf="egresosDetalle.length != 0">Egresos</h3>
        <span *ngIf="egresosDetalle.length == 0">
          No tiene egresos en esta fecha.</span
        >
        <ul
          *ngFor="let egreso of egresosDetalle"
          class="vinetas"
          style="padding-left: 10px"
        >
          <li>{{ egreso.nombre_egresos }} {{ egreso.cantidad }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div>
      <p>
        <strong>INGRESOS: </strong>
        {{ ingresos | currency : "USD" : "symbol" : "1.0-2" }}
      </p>
    </div>
    <div>
      <p>
        <strong>EGRESOS: </strong>
        {{ egresos | currency : "USD" : "symbol" : "1.0-2" }}
      </p>
    </div>
  </div>
</div>
