<div class="container mt-4">
  <div class="cont-date my-3">
    <div>
      <h5>Año</h5>
      <div class="content-select">
        <select
          name="monthSelect"
          [(ngModel)]="yearSeleccionado"
          (change)="onYearChange(yearSeleccionado)"
        >
          <option [value]="item" *ngFor="let item of years; index as i">
            {{ item }}
          </option>
        </select>
        <i></i>
      </div>
    </div>
    <div>
      <h5>Mes</h5>
      <div class="content-select">
        <select
          name="yearSelect"
          [(ngModel)]="mesSeleccionado"
          (change)="onMonthChange(mesSeleccionado)"
        >
          <option [value]="i + 1" *ngFor="let item of months; index as i">
            {{ item }}
          </option>
        </select>
        <i></i>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>CATEGORIAS FAVORITAS</h4>
    <div class="col-lg-6 col-sm-12 my-1">
      <h5 style="text-align: right; color: #a3c4f3">Ingresos</h5>
      <div class="cont-card">
        <p-carousel
          [value]="categoria_ingresos"
          [numVisible]="2"
          [numScroll]="2"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div
              class="border-1 surface-border border-round m-2 text-center px-3"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <button
                class="btn btn-add"
                (click)="addFavorito(car.nombre, 'ingresos')"
              >
                {{ car.nombre }}
              </button>
              <button
                class="btn btn-eliminar"
                (click)="elimnarCategoria(car.nombre, 'ingresos')"
              >
                <img src="assets/images/trash.svg" alt="" width="30" />
              </button>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 my-1">
      <h5 style="text-align: right; color: #a3c4f3">Egresos</h5>
      <div class="cont-card">
        <p-carousel
          [value]="categoria_egresos"
          [numVisible]="2"
          [numScroll]="2"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div
              class="border-1 surface-border border-round m-2 text-center px-3"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <button
                class="btn btn-add"
                (click)="addFavorito(car.nombre, 'egresos')"
              >
                {{ car.nombre }}
              </button>
              <button
                class="btn btn-eliminar"
                (click)="elimnarCategoria(car.nombre, 'egresos')"
              >
                <img src="assets/images/trash.svg" alt="" width="30" />
              </button>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="cont-gastos">
    <div class="cont-images">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <img class="img-gasto" src="assets/images/fortuna.png" alt="fortuna" />
        <button class="btn btn-aumentar" (click)="addGasto('ingresos')">
          <img
            class="icon-form"
            src="assets/images/aumentar.png"
            alt="aumentar"
          />
        </button>
        <div class="gastos-form" *ngIf="viewFormIngresos">
          <form
            class="form"
            [formGroup]="ingresosFormGroup"
            (ngSubmit)="formIngresos()"
          >
            <div class="cont-form">
              <input
                type="text"
                class="form-control input is-link my-2"
                formControlName="nombre"
                placeholder="Coloca Ingreso"
              />
            </div>
            <div class="cont-form">
              <input
                type="number"
                class="form-control input is-link my-2"
                formControlName="valor"
                placeholder="Coloca Valor"
              />
            </div>
            <div
              *ngIf="submitIngresosForm && ingresosFormGroup.invalid"
              style="width: 90%; text-align: right; font-size: 0.9rem"
            >
              <div *ngIf="ingresosFormGroup.controls['nombre'].errors">
                <small class="text-danger"> *Ingreso requerido. </small>
              </div>
              <div *ngIf="ingresosFormGroup.controls['valor'].errors">
                <small class="text-danger"> *Valor requerido. </small>
              </div>
            </div>
            <div style="display: flex; justify-content: flex-end; width: 95%">
              <button class="btn btn-insertar" type="submit">
                <img class="icon-form" src="assets/images/check.png" alt="" />
              </button>
              <button class="btn btn-insertar" type="button">
                <img
                  class="icon-form"
                  src="assets/images/favoritos.png"
                  alt=""
                  (click)="agregarFavorito('ingresos')"
                />
              </button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <!-- <h4 *ngIf="ingresosDetalle.length != 0">Tus Ingresos</h4> -->
        <span *ngIf="ingresosDetalle.length == 0">
          No tiene ingresos en esta fecha.</span
        >
        <ul
          *ngFor="let ingreso of ingresosDetalle"
          class="vinetas"
          style="padding-left: 10px"
        >
          <div class="detalle-list">
            <li>
              <div class="mx-2">
                <strong>{{ ingreso.nombre_ingreso }}</strong> ${{
                  ingreso.cantidad
                }}
              </div>
            </li>
            <button
              class="btn btn-img-cerrar"
              (click)="eliminardetalle(ingreso.id, 'ingresos')"
            >
              <img
                src="/assets/images/cerrar-02.png"
                class="img-cerar"
                alt=""
              />
            </button>
          </div>
        </ul>
      </div>
    </div>

    <div class="cont-images">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          class="img-gasto"
          src="assets/images/lloron.png"
          alt=""
          style="width: 150px"
        />
        <button class="btn btn-aumentar" (click)="addGasto('egresos')">
          <img
            class="icon-form"
            src="assets/images/aumentar.png"
            alt="aumentar"
          />
        </button>
        <div class="gastos-form" *ngIf="viewFormEgresos">
          <form
            class="form"
            [formGroup]="egresosFormGroup"
            (ngSubmit)="formEgresos()"
          >
            <div class="cont-form">
              <input
                type="text"
                class="form-control input is-link my-2"
                formControlName="nombre"
                placeholder="Coloca Egreso"
              />
            </div>
            <div class="cont-form">
              <input
                type="number"
                class="form-control input is-link my-2"
                formControlName="valor"
                placeholder="Coloca Valor"
              />
            </div>
            <div
              *ngIf="submitEgresosForm && egresosFormGroup.invalid"
              style="width: 90%; text-align: right; font-size: 0.9rem"
            >
              <div *ngIf="egresosFormGroup.controls['nombre'].errors">
                <small class="text-danger"> *Ingreso requerido. </small>
              </div>
              <div *ngIf="egresosFormGroup.controls['valor'].errors">
                <small class="text-danger"> *Valor requerido. </small>
              </div>
            </div>
            <div style="display: flex; justify-content: flex-end; width: 95%">
              <button class="btn btn-insertar" type="submit">
                <img class="icon-form" src="assets/images/check.png" alt="" />
              </button>
              <button class="btn btn-insertar" type="button">
                <img
                  class="icon-form"
                  src="assets/images/favoritos.png"
                  alt=""
                  (click)="agregarFavorito('egresos')"
                />
              </button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <!-- <h4 *ngIf="egresosDetalle.length != 0">Tus Egresos</h4> -->
        <span *ngIf="egresosDetalle.length == 0">
          No tiene egresos en esta fecha.</span
        >
        <ul
          *ngFor="let egreso of egresosDetalle"
          class="vinetas"
          style="padding-left: 10px"
        >
          <div class="detalle-list">
            <li>
              <div class="mx-2">
                <strong>{{ egreso.nombre_egresos }} </strong> ${{
                  egreso.cantidad
                }}
              </div>
            </li>
            <button
              class="btn btn-img-cerrar mx-3"
              (click)="eliminardetalle(egreso.id, 'egresos')"
            >
              <img
                src="/assets/images/cerrar-02.png"
                class="img-cerar"
                alt=""
              />
            </button>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="cont-totales">
    <div class="ingreso-total bg-total">
      <p>
        <strong>INGRESOS: </strong>
        {{ ingresos | currency : "USD" : "symbol" : "1.0-2" }}
      </p>
    </div>
    <div class="egreso-total bg-total">
      <p>
        <strong>EGRESOS: </strong>
        {{ egresos | currency : "USD" : "symbol" : "1.0-2" }}
      </p>
    </div>
  </div>
</div>
